@media (max-width: 650px) {
    .header-pc {
        display: none;
    }
    .header-mobile {
        display: block;
    }
}

@media (min-width: 651px) {
    .header-pc {
        display: block;
    }
    .header-mobile {
        display: none;
    }
}
