@media (max-width: 680px) {
    .header-pc {
        display: none;
    }
    .header-mobile {
        display: block;
    }
}

@media (min-width: 679px) {
    .header-pc {
        display: block;
    }
    .header-mobile {
        display: none;
    }
}
